<li id="<%= dom_id(comment) %>">
  <div class="commenterImage">
    <a href="<%= comment.user.github_url  %>"><img src="<%= comment.user.avatar_url %>"></a>
  </div>
  <div class="commentText">
    <p class=""><%= comment.comment %></p>
    <span class="like sub-text" id="<%= comment.id %>">
      <%= link_to like_repo_comment_path(comment.repo, comment), method: :post, remote: true do %>
        <%= current_user.likes?(comment) ? 'dislike' : 'like' %>
      <% end if current_user %>
      <i class="fa fa-thumbs-up"></i><span class="likes_number_for_<%= comment.id %>"><%= comment.get_likes.size %></span>
    </span>
    <span class="date sub-text"><%= timeago_tag comment.created_at, :nojs => true, :limit => 1000.days.ago %> </span>
    <span class="sub-text">by <%= link_to comment.user.username, comment.user.github_url %>
      <% if @owner == comment.user.username %>
        <div class="label label-warning">Owner</div>
      <% end %>
    </span>
    <span class="sub-text pull-right"><%= link_to "delete", repo_comment_path(repo_id: @repo.fullname, id: comment.id), method: :delete, remote: true if comment.user == current_user %></span>
  </div>
</li>
