<%
   meta title: "#{@repo.name.humanize} on Gitcussion",
        description: "Reviews, comments and details about #{@repo.name}",
        keywords: [@repo.name, @repo.fullname],
        og: {
                image: "http://www.gitcuss.com/gitcussion.png",
                title: "#{@repo.name.humanize} on Gitcussion",
                description: "Reviews, comments and details about #{@repo.name}",
                url: repo_url(@repo.fullname)
        }

%>

<div class="panel panel-default panel-search-item repo-item" id="<%= dom_id(@repo) %>">
  <div class="panel-heading">
    <div class="panel-title">
      <img class="img-circle pull-left" src="<%= @repo.avatar_url %>" alt="" height="65" width="65"/>
      <h3><%= link_to @repo.fullname, repo_path(@repo.fullname) %></h3>
      <h5><span><%= @repo.data_hash["description"] %></span></h5>
    </div>
    <!-- panel toolbar button -->
    <div class="panel-toolbar text-right">
      <span class="label label-default tt" data-title="Stars"><i class="fa fa-star"></i>&nbsp;<%= @repo.stars %></span>
      <!--<span class="label label-default tt" data-title="Watchers"><i class="fa fa-eye"></i>&nbsp;<%= @repo.watchers %></span>-->
      <span class="label label-default tt" data-title="Open Issues"><i class="fa fa-exclamation-circle"></i>&nbsp;<%= @repo.data_hash["open_issues"] %></span>
      <span class="label label-default tt" data-title="Stack Overflow Answered/Total"><i class="fa fa-stack-overflow"></i>&nbsp;<%= @repo.so_data["answered_questions"] %>/<%= @repo.so_data["total_questions"] %></span>

      <span class="label label-default tt" data-title="Average Score"><i class="fa fa-star"></i>&nbsp;<span class="score"><%= @repo.score %></span></span>



      <a href="<%= @repo.data_hash["html_url"] %>" target="_blank">
        <span class="label label-default tt" data-title="Github Page"><i class="fa fa-github"></i></span>
      </a>

      <span class="">
              <%= rating_for @repo, "star", disable_after_rate: false %>
      </span>
    </div>
  </div>
  <div class="panel-body readme">
    <div class="readme-content">
      <%= @repo.readme.try(:html_safe) %>
    </div>
  </div>
  <div class="panel-footer">
    <%= render 'comment_list', comments: @repo.comments %>
    <% if current_user %>
        <%= render 'comment_form' %>
    <% else %>
        <div class="alert alert-warning" role="">First, you have to <a href="<%= user_omniauth_authorize_path(:github) %>">login</a> to send a comment.</div>
    <% end %>
  </div>
</div>