<%
   meta title: "#{@repo.name.humanize} on Gitcuss",
        description: "Reviews, comments and details about #{@repo.name}",
        keywords: [@repo.name, @repo.fullname],
        og: {
                image: "http://www.gitcuss.com/gitcuss.png",
                title: "#{@repo.name.humanize} on Gitcuss",
                description: "Reviews, comments and details about #{@repo.name}",
                url: repo_url(@repo.fullname)
        }

%>

<div class="panel panel-default panel-search-item" id="<%= dom_id(@repo) %>">
  <div class="panel-heading">
    <div class="panel-title">
      <img class="img-circle pull-left" src="<%= @repo.avatar_url %>" alt="" height="65" width="65"/>
      <h3><%= link_to @repo.fullname, repo_path(@repo.fullname) %></h3>
      <h5><span><%= @repo.data_hash["description"] %></span></h5>
    </div>
    <!-- panel toolbar button -->
    <div class="panel-toolbar text-right">
      <span class="label label-default tt" data-title="Stars"><i class="fa fa-star"></i>&nbsp;<%= @repo.stars %></span>
      <span class="label label-default tt" data-title="Watchers"><i class="fa fa-eye"></i>&nbsp;<%= @repo.watchers %></span>
      <span class="label label-default tt" data-title="Open Issues"><i class="fa fa-exclamation-circle"></i>&nbsp;<%= @repo.data_hash["open_issues"] %></span>
      <span class="label label-default tt" data-title="Stack Overflow Answered/Total"><i class="fa fa-stack-overflow"></i>&nbsp;<%= @repo.so_data["answered_questions"] %>/<%= @repo.so_data["total_questions"] %></span>
    </div>
  </div>
  <div class="panel-body readme">
    <div class="readme-content">
      <%= @repo.readme.try(:html_safe) %>
    </div>
  </div>
  <div class="panel-footer">
    <%= render 'comment_list', comments: @repo.comments %>
    <%= render 'comment_form' %>
  </div>
</div>